{% extends "layout.html" %}

{% block title %}
    change password
{% endblock%}

{% block main %}

    <h1>Change Password</h1>

    <form action="/change-pass" method="post">
        <div class="form-group">
            <input autocomplete="off"  autofocus class="form-control" name="old-password" placeholder="Old password" type="password">
            <input autocomplete="off"  class="form-control" name="new-password" placeholder="New password" type="password">
            <input autocomplete="off"  class="form-control" name="confirm-new" placeholder="Confirm New password" type="password">
        </div>

        <button class="btn btn-primary" type="submit">Change password</button>

    </form>

{% endblock %}