{% extends "layout.html" %}


{% block title %}
    Portfolio
{% endblock %}

<!--

Complete the implementation of index in such a way that it displays an HTML table summarizing,
for the user currently logged in, which stocks the user owns, the numbers of shares owned,
the current price of each stock, and the total value of each holding (i.e., shares times price).
Also display the user’s current cash balance along with a grand total (i.e., stocks’ total value plus cash).

Odds are you’ll want to execute multiple SELECTs. Depending on how you implement your table(s), you might find GROUP BY HAVING SUM and/or WHERE of interest.
Odds are you’ll want to call lookup for each stock.

-->




{% block main %}

<table class="table table-striped index-table">

    <thead>
        <tr>
            <th>Symbol</th>
            <th>Name</th>
            <th>Shares</th>
            <th>Price</th>
            <th>TOTAL</th>
        </tr>
    </thead>
    <tfoot>
        <tr>
            <td colspan="4"></td>
            <td id = "index-total"> ${{total}} </td>
        </tr>
    </tfoot>
    <tbody>

        {% for stock in stock_info_list %}
            <tr>
                <td class="stock-symbol">{{stock[0]}}</td>
                <td>{{stock[1]}}</td>
                <td>{{stock[2]}}</td>
                <td>${{stock[3]}}</td>
                <td>${{stock[4]}}</td>
            </tr>
        {% endfor %}

            <tr>
                <td colspan="4" >CASH</td>
                <td>${{cash}}</td>
            </tr>

    </tbody>


</table>

{% endblock %}