{% extends "layout.html" %}

{% block title %}
    Register

{% endblock %}


{%block main %}

    <div class="registerPage">
        <form action="/register" method="post">
            <h1>Register</h1>
            <p>Create your account! now!!</p>
            <div class="form-group">
                <input autocomplete="off" autofocus class="form-control" name="username" placeholder="Username" type="text">
                <input autocomplete="off"  class="form-control" name="password" placeholder="Password" type="text">
                <input autocomplete="off"  class="form-control" name="confirmation" placeholder="Confirm Password" type="text">
            </div>

            <input type="checkbox" name="terms-checkbox" value="check" id="terms-checkbox" onclick="termsChecked(this)" /> I have read and agree to the Terms and Conditions and Privacy Policy

            <button class="btn btn-primary" type="submit" name="submit-button" id="submit-button" disabled >Register Now</button>

        </form>
    </div>


{% endblock %}